<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/media/favicon.ico"/>
    <title>Developers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/static/isSelenium.js"></script>
</head>
{% include 'nav_bar.html' %}
<style>
    .info{
        font-family: Helvetica;
    }
    body{
        background:url("/media/interstellar_bg.png") no-repeat center fixed;
        color: white;
    }
</style>
<body>
<b>
	<h1 align="center">About the developers</h1>
	<br>
	<img src="/media/头像.jpg" align="left" width="350px" height="350px">
    <p class="info">Lucas J.<br>
		lucasjiang0521@foxmail.com<br><br>
		I am the developer of this website. This site is created just to learn django and web developing.<br>
If you have any suggestions or discovered bugs, just email me :D
		</font>
	</p>

</body>
</html>